@page "/dashboard/weapons"

<div class="mb-3 d-inline-flex">
    <h3 class="mr-2">Weapons</h3>
    <button class="btn btn-primary" @onclick="ShowCreateWeaponModalAsync">Create Weapon</button>
</div>

<div class="table-responsive mb-4">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Image</th>
                <th scope="col" class="d-none d-lg-block">Name</th>
                <th scope="col">Item Id</th>
                <th scope="col" class="d-none d-lg-block">Category</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Weapons != null)
            {
                @foreach (var weapon in Weapons)
                {
                    <tr>
                        <td>@weapon.Id</td>
                        <td><img src="api/files/@weapon.ImageFileId" class="icon" /></td>
                        <td class="d-none d-lg-block">@weapon.Name</td>
                        <td>@weapon.ItemId</td>
                        <td class="d-none d-lg-block">@weapon.Category</td>
                        <td><button class="btn btn-sm btn-secondary" @onclick="() => ShowUpdateWeaponModalAsync(weapon)">Edit</button></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


<WeaponModal @ref="Modal" OnWeaponCreated="UploadCreateWeaponAsync" OnWeaponUpdated="UploadUpdateWeaponAsync" />

